<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Article" >
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="article_date" property="articleDate" jdbcType="VARCHAR" />
    <result column="nav_id" property="navId" jdbcType="VARCHAR" />
  </resultMap>

</mapper>