<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Manager" >
    <id column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_pwd" property="managerPwd" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getManagerByUsername" resultType="com.example.demo.entity.Manager">
      select * from manager where manager_name = #{username}
  </select>

</mapper>