<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Manager" >
    <id column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_pwd" property="managerPwd" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getManagerByUsername" resultType="com.example.demo.entity.Manager">
      select * from manager where manager_name = #{username}
</select>

    <select id="countByUsername" resultType="java.lang.Integer">
        select count(*) from manager where manager_name = #{username}
    </select>

    <select id="getManagerByUserid" resultType="com.example.demo.entity.Manager">
      select * from manager where manager_id = #{id}
  </select>

  <select id="getAll" resultType="com.example.demo.entity.Manager">
    select * from manager
  </select>

  <insert id="save" parameterType="com.example.demo.entity.Manager">
    INSERT INTO manager (manager_id,manager_name,manager_pwd) VALUES   (#{managerName},
                          #{managerName},
                          #{managerPwd})
  </insert>

  <update id="update" parameterType="com.example.demo.entity.Manager">
        UPDATE manager
            SET
                manager_name = #{managerName},
                manager_pwd = #{managerPwd}
         WHERE manager_id = #{managerId};
  </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM manager WHERE manager_id = #{id}
    </delete>
</mapper>