<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.NavMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Nav" >
    <id column="nav_id" property="navId" jdbcType="VARCHAR" />
    <result column="nav_name" property="navName" jdbcType="VARCHAR" />
    <result column="nav_feight" property="navFeight" jdbcType="INTEGER" />
  </resultMap>

  <select id="getNavByNavid" resultType="com.example.demo.entity.Nav">
      select * from nav where nav_id = #{navid}
</select>

  <select id="countByNavid" resultType="java.lang.Integer">
        select count(*) from nav where nav_id = #{navid}
    </select>


  <select id="getAll" resultType="com.example.demo.entity.Nav">
    select * from nav
  </select>

  <insert id="save" parameterType="com.example.demo.entity.Nav">
    INSERT INTO nav (nav_id,nav_name,nav_feight) VALUES   (#{navId},
                          #{navName},
                          #{navFeight})
  </insert>

  <update id="update" parameterType="com.example.demo.entity.Nav">
        UPDATE nav
            SET
                nav_name = #{navName},
                nav_feight = #{navFeight}
         WHERE nav_id = #{navId};
  </update>

  <delete id="delete" parameterType="java.lang.String">
        DELETE FROM nav WHERE nav_id = #{id}
    </delete>
</mapper>